#:schema node_modules/wrangler/config-schema.json
name = "unifi-cloudflare-ddns-access"
main = "src/index.ts"
compatibility_date = "2025-02-09"
compatibility_flags = ["nodejs_compat"]

[[kv_namespaces]]
binding = "unifi-cloudflare-ddns-access"
id = "kvAccessPolicies"

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true
logs.enabled = true

# Automatically place your workloads in an optimal location to minimize latency.
# Docs: https://developers.cloudflare.com/workers/configuration/smart-placement/#smart-placement
[placement]
mode = "smart"
